body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
}

.App::after {
  content: "";
  display: block;
  height: 4rem; /* Set same as footer's height */
}

h1,
h2,
h3,
h4 {
  font-family: "Thasadith", sans-serif;
}

.result-table {
  margin: 0 2rem;
}

.radio-button {
  margin: 0 0.3rem;
}

.radio-button > input {
  margin: 0 0.2rem;
}

.result-table th,
.result-table td {
  min-width: 172px;
}

.main-container {
  padding-bottom: 0 !important;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;
}
